<!DOCTYPE html>

<style>

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

</style>
<body>
<script src="//d3js.org/d3.v3.min.js"></script>


<div id = "chart"></div>

<script src="/js/chart.js"></script>
</body>
</html>